@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
a {
  cursor: pointer;
}

.navbarLogo {
  font-family: "Rouge Script", cursive;
}

.heroSection {
  height: 100vh;
}
.heroSectionBackground {
  height: 100vh;
  background: url("../../images/curology-6CJg-fOTYs4-unsplash.jpg");
  background-size: cover;
  filter: brightness(70%);
  width: 100%;
  height: auto;
}
.heroSectionText {
  border: 2px white solid;
  color: white;
  text-align: left;
  padding: 3% 17%;
  overflow: hidden;

  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 100;
}

/* .newIn {
  height: 55vh;
} */

.insparation {
  height: 85vh;
  margin-top: 8rem;
  text-align: left;
}
